
@mixin loader{
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; display: none; }
}*/

@keyframes fadeInOut {
  from {
    opacity: 1;
    z-index: 10;
}
60% {
    opacity: 1;
    z-index: 10;
}
to {
    opacity: 0;
    z-index: -10;
}
}

    
}

@mixin show-content {
    
    @keyframes show-content {
     
    }
  }
  
 
 @mixin appear {
 @keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} 
}
  