// Définition du mixin pour le style du bouton texte
@mixin boutton{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
    color: $color_2;
    font-size: 16px;
    width: 218px;
    height: 50px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: background-image 0.3s, box-shadow 0.3s;
    &:hover {
        background-image: linear-gradient(to bottom, $couleur-bouton-survol, #9356DC); // Change la couleur au survol
        box-shadow: $ombre-portee-survol; // Ajoute l'ombre portée au survol
      }
}
  

  
@mixin menu-favorite {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  
  .icon-fill,
  .icon-empty {
    position: absolute;
    top: -50px;
    right: 30px;
    font-size: 25.6px;
    cursor: pointer;
    transition: 0.2s linear;
  }

  .icon-fill {
    opacity: 0;
    z-index: 2;
    background: linear-gradient(0deg, #ab5edc 0%, #df6fda 58%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

  .icon-empty {
    opacity: 1;
  }

  &:hover {
    .icon-fill {
      opacity: 1;
      color: $color_9; // Assuming $color_9 is defined elsewhere
    }
    .icon-empty {
      opacity: 0;
    }
  }
}