@charset "UTF-8";
/* Mise en page du loader */
body {
  display: flex;
  justify-content: center;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  width: 100%;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeOut 4s ease forwards; /* Animation de disparition */
}

.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid #9356DC; /* Couleur principale du loader */
  border-top-color: #FF79DA; /* Couleur du dessus du loader */
  border-bottom-color: #99E2D0;
  animation: spin 3s linear; /* Animation du spinner */
}

/* Afficher le .main-container une fois que le loader est terminé */
.loader-wrapper.fadeOutDone + .main-container {
  display: block;
}

.main-container {
  width: 100%;
}

/*mise en style du header**/
header {
  display: flex;
  flex-direction: column;
  margin: 0px;
  width: auto;
  justify-content: space-around;
  align-items: center;
}
header img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  margin: 14px auto;
}
@media screen and (min-width: 1024px) {
  header img .img {
    width: 200px;
  }
}

.localisation {
  display: flex;
  background-color: #eee;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  text-align: center;
  height: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 1024px) {
  .localisation .localisation {
    box-shadow: none;
  }
}

.icone-localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  width: 18px;
  color: #353535;
  margin-right: 17px;
}

.fa-location-dot {
  font-size: 1rem;
  border: none;
}

input {
  border: none;
  background-color: #eee;
  color: #353535;
  outline: none;
  width: 115px;
}
input::-moz-placeholder {
  color: #353535;
  font-size: 1rem;
  font-weight: 500;
  opacity: 1;
  width: 100%;
}
input::placeholder {
  color: #353535;
  font-size: 1rem;
  font-weight: 500;
  opacity: 1;
  width: 100%;
}

/* *******section menu****/
.section-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-right: 0;
  padding-left: 0;
  background-color: #F6F6F6;
}
.section-menu h2 {
  text-decoration: none;
  color: #353535;
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding: 10px;
  padding-right: 50px;
  padding-left: 50px;
  font-size: 24px;
}
.section-menu p {
  font-size: 18px;
  text-decoration: none;
  color: #353535;
  text-align: center;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 20px;
}
.section-menu .boutton-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: #EAEAEA;
  font-size: 16px;
  width: 218px;
  height: 50px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: background-image 0.3s, box-shadow 0.3s;
}
.section-menu .boutton-text:hover {
  background-image: linear-gradient(to bottom, #fface8, #9356DC);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/*section fonctionnement*/
.fonctionnement {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  flex-wrap: wrap;
  gap: 15px;
  padding-bottom: 50px;
  align-content: center;
  background-color: white;
}
@media all and (min-width: 1024px) {
  .fonctionnement {
    margin-left: 40px;
    margin-right: 40px;
  }
}
.fonctionnement h2 {
  padding-left: 20px;
}
.fonctionnement .choix {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 72px;
  border-radius: 20px;
  padding: 4px 30px;
  padding-right: 0;
  gap: 30px;
  background-color: #F6F6F6;
  box-shadow: 0 4px 10px 0 #d5d5d5;
  width: 80%;
  position: relative;
  flex-basis: 100%;
}
.fonctionnement .choix i {
  color: grey;
}
.fonctionnement .choix p {
  font-weight: bold;
  font-size: 16px;
}
.fonctionnement .choix:hover i {
  color: #9356DC;
}

.fonctionnement-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 95%;
  padding-bottom: 10px;
  padding-left: 10px;
  margin: auto;
  gap: 20px;
  align-items: center;
}
@media all and (min-width: 1024px) {
  .fonctionnement-list {
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
  }
}

/*.icon-color {
	color: $color_3;
}
.icon-color-1 {
	color: $color_4;
}*/
.fonctionnement-number {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #9356DC;
}

.choix .fonctionnement-number {
  position: absolute;
  left: -13px;
  z-index: 1;
}

/*restaurant**/
.restaurant {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #F6F6F6;
  padding-bottom: 50px;
}
@media screen and (min-width: 1024px) {
  .restaurant {
    align-items: center;
    justify-content: center;
    padding: 30px 0 30px 0;
  }
}
.restaurant h2 {
  padding-left: 20px;
  margin: 0px;
  padding-top: 20px;
}
@media screen and (min-width: 1024px) {
  .restaurant h2 {
    padding-left: 10px;
    padding-right: 68%;
    padding-bottom: 20px;
  }
}

.restaurant-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1024px) {
  .restaurant-cards {
    gap: 50px;
    flex-direction: row;
    align-items: center;
    flex-basis: 100%;
    justify-content: center;
    width: 78%;
  }
}

.restaurant-card-content {
  width: 100%;
  background-color: white;
  padding: 5px;
  margin-top: 33px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #DADADA;
  text-decoration: none;
  color: #000;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .restaurant-card-content {
    width: 45%;
    margin-top: 0px;
  }
}
.restaurant-card-content .markerinfo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 30px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #278870;
  font-weight: 500;
  padding: 5px 10px;
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 1;
}
.restaurant-card-content .restaurant-img {
  width: 100%;
  height: 124px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-title-rest {
  margin: 1px 0px 8px 15px;
}

.card-subtitle-rest {
  margin: 1px 0px 8px 15px;
}

/* mise en style du coeur */
.menu-favorite {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.menu-favorite .icon-fill,
.menu-favorite .icon-empty {
  position: absolute;
  top: -50px;
  right: 30px;
  font-size: 25.6px;
  cursor: pointer;
  transition: 0.2s linear;
}
.menu-favorite .icon-fill {
  opacity: 0;
  z-index: 2;
  background: linear-gradient(0deg, #ab5edc 0%, #df6fda 58%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.menu-favorite .icon-empty {
  opacity: 1;
}
.menu-favorite:hover .icon-fill {
  opacity: 1;
  color: white;
}
.menu-favorite:hover .icon-empty {
  opacity: 0;
}

/*Footer Home Page et Menus */
footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #353535;
  color: #d5d5d5;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  margin: 0;
  margin-top: 10px;
  padding-left: 20px;
}
footer .propos {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-left: 20px;
}
footer a {
  display: flex;
  gap: 11px;
  align-items: flex-start;
  font-weight: 500;
  color: #d5d5d5;
  text-decoration: none;
}
footer ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
footer i {
  width: 11px;
  height: 13px;
  font-size: 14px;
}

@media screen and (min-width: 1024px) {
  footer {
    flex-flow: row-reverse;
    padding: 30px;
    gap: 90px;
  }
  footer .propos {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 15px;
  }
}
/* mise en style des pages restaurants */
.header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 100px;
}
.header-menu .nav-menu {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 42px;
  justify-content: space-between;
}
.header-menu .nav-menu a {
  text-decoration: none;
}
.header-menu .nav-menu i {
  margin-left: 17px;
  width: 30px;
  height: 30px;
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #000;
}
.header-menu .nav-menu img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  margin: 14px auto;
}

.menu {
  margin-bottom: -60px;
}
.menu img {
  width: 100%;
  height: 375px;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  margin: 0 auto;
}
@media all and ((min-width: 1024px)) {
  .menu-cont {
    display: flex;
    justify-content: center;
  }
}
.menu-container {
  background-color: #f6f6f6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  transform: translate(0px, -80px);
}
@media all and ((min-width: 1024px)) {
  .menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
  }
  .menu-container .submenu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.menu-resto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  gap: 100px;
}
.menu-resto h1 {
  font-family: "Shrikhand", cursive;
}
.menu-resto .menu-favorite {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.menu-resto .menu-favorite .icon-fill,
.menu-resto .menu-favorite .icon-empty {
  position: absolute;
  top: -50px;
  right: 30px;
  font-size: 25.6px;
  cursor: pointer;
  transition: 0.2s linear;
}
.menu-resto .menu-favorite .icon-fill {
  opacity: 0;
  z-index: 2;
  background: linear-gradient(0deg, #ab5edc 0%, #df6fda 58%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.menu-resto .menu-favorite .icon-empty {
  opacity: 1;
}
.menu-resto .menu-favorite:hover .icon-fill {
  opacity: 1;
  color: white;
}
.menu-resto .menu-favorite:hover .icon-empty {
  opacity: 0;
}
.menu-resto .menu-favorite .icon-fill,
.menu-resto .menu-favorite .icon-empty {
  position: absolute;
  right: 5px;
  top: -10px;
  font-size: 25.6px;
  cursor: pointer;
  transition: 0.2s linear;
}
.menu-categorie {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.menu-categorie h2 {
  text-transform: uppercase;
  font-size: 20px;
  border-bottom: solid 3px #99E2D0;
  width: 50px;
  padding-bottom: 8px;
  font-weight: 50;
}
.menu-card {
  animation-fill-mode: both;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 15px 0 10px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  box-shadow: -1px 6px 10px 2px rgba(166, 166, 166, 0.34);
  height: 72px;
  padding-left: 20px;
}
.menu-card_validate {
  text-align: center;
  top: 0;
  width: 70px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  right: 0;
  position: absolute;
  overflow: hidden; /* Cela permettra de cacher l'icône à l'extérieur de son conteneur */
  transition: 0.7s ease-in-out;
}
.menu-card_validate i {
  width: 59px;
  color: #ffffff;
  font-size: 24px;
  position: absolute; /* Position absolue pour placer l'icône en dehors de son conteneur d'origine */
  right: -20px; /* Initialiser l'icône à l'extérieur du conteneur */
  transition: right 0.5s ease-in-out; /* Ajout d'une transition sur la propriété "right" */
  transition: right 0.5s ease-in-out, transform 1s ease-in-out;
}
.menu-card:hover {
  cursor: pointer;
}
.menu-card:hover .menu-card_validate {
  background-color: #99E2D0;
  transition: 0.7s ease-in-out;
}
.menu-card:hover .menu-card_validate i {
  transform: rotate(360deg);
  left: 5px;
  top: 40px;
  right: 0; /* Déplacer l'icône à l'intérieur du conteneur lorsqu'il est survolé */
  animation-delay: 0.3S;
}
.menu-card_content {
  width: 100%;
  transition: 0.8s ease-in-out;
}
.menu-card_content:hover {
  width: calc(100% - 100px);
  transition: 0.7s ease-in-out;
}
.menu-card_title h3 {
  font-family: "Roboto";
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-card_title p {
  margin: 0;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-card_text {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 20px;
}
.menu-card_text p:nth-child(1) {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.entree {
  flex: 1;
  margin-bottom: 36px;
  padding-left: 10px;
  animation: appear 1s ease forwards;
  padding-right: 10px;
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media all and ((min-width: 1024px)) {
  .entree {
    width: 150%;
  }
}

.plats {
  flex: 1;
  margin-bottom: 36px;
  padding-left: 10px;
  animation: appear 1s ease forwards 0.5s;
  padding-right: 10px;
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media all and ((min-width: 1024px)) {
  .plats {
    width: 150%;
  }
}

.dessert {
  flex: 1;
  animation: appear 1s ease forwards 1s;
  padding-left: 10px;
  padding-right: 10px;
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media all and ((min-width: 1024px)) {
  .dessert {
    width: 150%;
  }
}

.boutton-comm {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: #EAEAEA;
  font-size: 16px;
  width: 218px;
  height: 50px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: background-image 0.3s, box-shadow 0.3s;
  margin-left: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-right: auto;
}
.boutton-comm:hover {
  background-image: linear-gradient(to bottom, #fface8, #9356DC);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/*media queries****//*# sourceMappingURL=style.css.map */